@model PolicyReassurancesCreateVM

@{
    ViewData["Title"] = "Create Policy Reassurance";
}

<h1>Create Policy Reassurance</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PolicyId" class="control-label"></label>
                <input asp-for="PolicyId"  class="form-control" disabled />
                <span asp-validation-for="PolicyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SumAssured" class="control-label"></label>
                <input asp-for="SumAssured" value="@Model.SumAssured" class="form-control" disabled/>
                <span asp-validation-for="SumAssured" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Retention" class="control-label"></label>
                <input asp-for="Retention" value="@Model.Policy.IndividualProduct.Retention" class="form-control" disabled />
                <span asp-validation-for="Retention" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReasurerId" class="control-label"></label>
                <select asp-for="ReasurerId" class="form-select" asp-items="Model.Reassurer">
                    <option>--Select Reasurer--</option>
                </select>
                <span asp-validation-for="ReasurerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReassuranceAmount" class="control-label"></label>
                <input asp-for="ReassuranceAmount" class="form-control"  />
                <span asp-validation-for="ReassuranceAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReassuranceTypeId" class="control-label"></label>
                <select asp-for="ReassuranceTypeId" class ="form-control" asp-items="Model.ReassuranceType">
                    <option>--Select Reassurance Type--</option>
                </select>
                <span asp-validation-for="ReasurerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
                <input type="submit" value="Create" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

