@model PolicyCreateVM

@{
    ViewData["Title"] = "Create Policy";
}

<h1>Create Policy</h1>

<hr />
<div class="row">
    
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ApplicationDate" class="control-label"></label>
                    <input asp-for="ApplicationDate" class="form-control" />
                    <span asp-validation-for="ApplicationDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ProductGroupId" class="control-label"></label>
                    <select asp-for="ProductGroupId" class ="form-select" asp-items="Model.Groups">
                        <option>Select Group</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="IndividualProductId" class="control-label"></label>
                    <select asp-for="IndividualProductId" class="form-select" asp-items="Model.Products">
                        <option>Select Product</option>
                    </select>
                    <span asp-validation-for="IndividualProductId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ClientId" class="control-label"></label>
                    <select asp-for="ClientId" class="form-select ClientSearch" asp-items="Model.Clients">
                        <option>Search Client</option>
                    </select>
                    <span asp-validation-for="ClientId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PremiumTerm" class="control-label"></label>
                    <input asp-for="PremiumTerm" class="form-control" />
                    <span asp-validation-for="PremiumTerm" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="SumAssured" class="control-label"></label>
                    <input asp-for="SumAssured" class="form-control" />
                    <span asp-validation-for="SumAssured" class="text-danger"></span>
                </div>
            </div>
         </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Premium" class="control-label"></label>
                    <input asp-for="Premium" class="form-control" />
                    <span asp-validation-for="Premium" class="text-danger"></span>
                </div>
             </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PaymentMethodId" class="control-label"></label>
                    <select asp-for="PaymentMethodId" class="form-select" asp-items="Model.PaymentMethod">
                        <option>--Select Payment Method--</option>
                    </select>
                    <span asp-validation-for="PaymentMethodId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PaymentFrequencyId" class="control-label"></label>
                    <select asp-for="PaymentFrequencyId" class="form-select" asp-items="Model.PaymentFrequency">
                        <option>--Select Payment Frequency--</option>
                    </select>
                    <span asp-validation-for="PaymentFrequencyId" class="text-danger"></span>
                </div>
             </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="BenefitTerm" class="control-label"></label>
                    <input asp-for="BenefitTerm" class="form-control" />
                    <span asp-validation-for="BenefitTerm" class="text-danger"></span>
                </div>
             </div>
         </div>
                <br />
                <div class="form-group">

                    <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
                    <input type="submit" value="Create" class="btn btn-outline-primary" />
                </div>
    </form>
    
</div>
@section Scripts{
    
    <script type ="text/javascript">

        $(document).ready(function () {
            // debugger;
            $(".ClientSearch").chosen().change(function () {
                var selectedClientId = $(this).val();

                // Fetch client data using AJAX
                $.ajax({
                    url: "@Url.Action("GetClientData", "Policies")",
                    data: { clientId: selectedClientId },
                    success: function (clientData) {
                        $("#FirstName").val(clientData.FirstName);
                        $("#Surname").val(clientData.Surname);
                        $("#DateOfBirth").val(clientData.DateOfBirth);
                        $("#NationalID").val(clientData.NationalID);
                    }
                });
            });
        });

    </script >
}




