@model PolicyCreateVM

@{
    ViewData["Title"] = "Create Policy";
}

<h1>Create Policy</h1>

<hr />
<div class="row">
    
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ApplicationDate" class="control-label"></label>
                    <input asp-for="ApplicationDate" class="form-control" />
                    <span asp-validation-for="ApplicationDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ProductGroupId" class="control-label"></label>
                    <select asp-for="ProductGroupId" class ="form-control" asp-items="Model.Groups">
                        <option>Select Group</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ProductId" class="control-label"></label>
                    <select asp-for="ProductId" class="form-control" asp-items="Model.Products">
                        <option>Select Product</option>
                    </select>
                    <span asp-validation-for="ProductId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ClientId" class="control-label"></label>
                    @* <select asp-for="ClientId" class="form-select" asp-items=""></select> *@
                    <input asp-for="ClientId" class="form-control" />
                    <span asp-validation-for="ClientId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Surname" class="control-label"></label>
                    <input asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
            </div>
         </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="NationalID" class="control-label"></label>
                    <input asp-for="NationalID" class="form-control" />
                    <span asp-validation-for="NationalID" class="text-danger"></span>
                </div>
             </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="DateOfBirth" class="control-label"></label>
                    <input asp-for="DateOfBirth" class="form-control" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
             </div>
         </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Age" class="control-label"></label>
                    <input asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="AnnualSalary" class="control-label"></label>
                    <input asp-for="AnnualSalary" class="form-control" />
                    <span asp-validation-for="AnnualSalary" class="text-danger"></span>
                </div>
            </div>
         </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PremiumTerm" class="control-label"></label>
                    <input asp-for="PremiumTerm" class="form-control" />
                    <span asp-validation-for="PremiumTerm" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="SumAssured" class="control-label"></label>
                    <input asp-for="SumAssured" class="form-control" />
                    <span asp-validation-for="SumAssured" class="text-danger"></span>
                </div>
            </div>
         </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Premium" class="control-label"></label>
                    <input asp-for="Premium" class="form-control" />
                    <span asp-validation-for="Premium" class="text-danger"></span>
                </div>
             </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PremiumPaymentMethod" class="control-label"></label>
                    <input asp-for="PremiumPaymentMethod" class="form-control" />
                    <span asp-validation-for="PremiumPaymentMethod" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PremiumPaymentFrequency" class="control-label"></label>
                    <input asp-for="PremiumPaymentFrequency" class="form-control" />
                    <span asp-validation-for="PremiumPaymentFrequency" class="text-danger"></span>
                </div>
             </div>
         </div>
                <br />
                <div class="form-group">

                    <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
                    <input type="submit" value="Create" class="btn btn-outline-primary" />
                </div>
    </form>
    
</div>


