@model ProductPolicyRequirementCreateVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create Policy Requirement </h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input asp-for="IndividualProductID" value="@ViewContext.RouteData.Values["Id"]"  hidden  />
            <div class="form-group">
                <label asp-for="IndividualProductID" class="control-label"></label>
                <select asp-for="IndividualProductID" class="form-control" asp-items="Model?.IndividualProduct" disabled></select>
                <span asp-validation-for="IndividualProductID" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="RequirementID" class="control-label"></label>
                <select asp-for="RequirementID" class="form-control" asp-items="Model?.Requirements">
                    <option>--Select Requirement--</option>
                </select>
                <span asp-validation-for="RequirementID" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsMandatory" /> @Html.DisplayNameFor(model => model.IsMandatory)
                </label>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
                <input type="submit" value="Create" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>


