@{
    ViewData["Title"] = "Home Page";
}

<h1>DashBoard Stats</h1>

<hr />
<br />

<div class="row ">
    <div class="col-sm-3 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body text-center">
                <h1 class="card-title text-primary text-center">1</h1>
                <p class="card-text">Schemes</p>

            </div>
        </div>
    </div>
    <div class="col-sm-3 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body text-center">
                <h1 class="card-title text-success text-center">2</h1>
                <p class="card-text">Product Groups</p>

            </div>
        </div>
    </div>
    <div class="col-sm-3 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body text-center">
                <h1 class="card-title text-warning text-center">6</h1>
                <p class="card-text">Products</p>

            </div>
        </div>
    </div>
    <div class="col-sm-3 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body text-center">
                <h1 class="card-title text-secondary text-center">1</h1>
                <p class="card-text">Policies</p>

            </div>
        </div>
    </div>
    <div class="col-sm-3 mb-3 mb-sm-0 p-t-10">
        <div class="card">
            <div class="card-body text-center">
                <h1 class="card-title text-danger text-center">1</h1>
                <p class="card-text">Claims</p>

            </div>
        </div>
    </div>
    <div class="col-sm-3 mb-3 mb-sm-0 p-t-10">
        <div class="card">
            <div class="card-body text-center">
                <h1 class="card-title text-warning text-center">1</h1>
                <p class="card-text">Clients</p>

            </div>
        </div>
    </div>
</div>
<br />
