@model ClientCreateVM

@{
    ViewData["Title"] = "Create Client";
}

<h1>Create Client</h1>

<hr />
<div class="row">
    
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="ClientTypeId" class="control-label"></label>
                <select asp-for="ClientTypeId" class="form-select" asp-items="Model?.ClientType" asp-dropdown>
                    <option>Select Client Type</option>
                </select>
                <span asp-validation-for="ClientTypeId" class="text-danger"></span>
            </div>
            </div>
            </div>
        <br />
        <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="TitleId" class="control-label"></label>
                <select asp-for="TitleId" class="form-select" asp-items="Model?.Titles">
                    <option>Select Title </option>
                </select>
                <span asp-validation-for="TitleId" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        </div>
        <br />
        <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
        </div>
        </div>
        <br />
        <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="GenderId" class="control-label"></label>
                <select asp-for="GenderId" class="form-select" asp-items="Model?.Genders">
                    <option>Select Gender </option>
                </select>
                <span asp-validation-for="GenderId" class="text-danger"></span>
            </div>
        </div>
        </div>
        <br />
        <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="MaritalStatusId" class="control-label"></label>
                <select asp-for="MaritalStatusId" class="form-select" asp-items="Model?.MaritalStatus">
                    <option>Select Marital Status </option>
                </select>
                <span asp-validation-for="MaritalStatusId" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="CountryOfBirth" class="control-label"></label>
                <input asp-for="CountryOfBirth" class="form-control" />
                <span asp-validation-for="CountryOfBirth" class="text-danger"></span>
            </div>
        </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
        <div class="form-group">
            <label asp-for="CountryOfResidence" class="control-label"></label>
            <input asp-for="CountryOfResidence" class="form-control" />
            <span asp-validation-for="CountryOfResidence" class="text-danger"></span>
        </div>
        </div>
        <br />
            <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Language" class="control-label"></label>
            <input asp-for="Language" class="form-control" />
            <span asp-validation-for="Language" class="text-danger"></span>
        </div>
        </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Religion" class="control-label"></label>
            <input asp-for="Religion" class="form-control" />
            <span asp-validation-for="Religion" class="text-danger"></span>
        </div>
        </div>
        <br />
            <div class="col-md-6">
        <div class="form-group">
            <label asp-for="IncomeGroupId" class="control-label"></label>
            <input asp-for="IncomeGroupId" class="form-control" />
            <span asp-validation-for="IncomeGroupId" class="text-danger"></span>
        </div>
        </div>
        </div>
        <br />
        <div class="row">
        <div class="col-md-6">
        <div class="form-group">
            <label asp-for="HighestQualificationId" class="control-label"></label>
            <select asp-for="HighestQualificationId" class="form-select" asp-items="Model?.HighestQualification">
                <option>Select Highest Qualification </option>
            </select>
            <span asp-validation-for="HighestQualificationId" class="text-danger"></span>
        </div>
        </div>
        <br />
        <div class="col-md-6">
        <div class="form-group">
            <label asp-for="ContactPersonName" class="control-label"></label>
            <input asp-for="ContactPersonName" class="form-control" />
            <span asp-validation-for="ContactPersonName" class="text-danger"></span>
        </div>
        </div>
        </div>
        <br />
        <div class="row">
        <div class="col-md-6">
        <div class="form-group">
            <label asp-for="ContactPersonNumber" class="control-label"></label>
            <input asp-for="ContactPersonNumber" class="form-control" />
            <span asp-validation-for="ContactPersonNumber" class="text-danger"></span>
        </div>
        </div>
        <br />
        <div class="col-md-6">
        <div class="form-group">
            <label asp-for="NationalId" class="control-label"></label>
            <input asp-for="NationalId" class="form-control" />
            <span asp-validation-for="NationalId" class="text-danger"></span>
        </div>
        </div>
        </div>
        <br />
        <div class="form-group">

            <a class="btn btn-dark" asp-action="Index">Back to List</a>
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
    
</div>


