@model ShortTerm.Web.Data.Client

@{
    ViewData["Title"] = "Client Creation";
}

<h1>Create Client</h1>

<hr />
<div class="row">
    <div class="col-md-6 text-align-center">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RegNo" class="control-label"></label>
                <input asp-for="RegNo" class="form-control" />
                <span asp-validation-for="RegNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientTypeId" class="control-label"></label>
                <input asp-for="ClientTypeId" class="form-control" />
                <span asp-validation-for="ClientTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderId" class="control-label"></label>
                <select asp-for="GenderId" class ="form-control" asp-items="ViewBag.GenderId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaritalStatusId" class="control-label"></label>
                <select asp-for="MaritalStatusId" class ="form-control" asp-items="ViewBag.MaritalStatusId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CountryOfBirth" class="control-label"></label>
                <input asp-for="CountryOfBirth" class="form-control" />
                <span asp-validation-for="CountryOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryOfResidence" class="control-label"></label>
                <input asp-for="CountryOfResidence" class="form-control" />
                <span asp-validation-for="CountryOfResidence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Language" class="control-label"></label>
                <select asp-for="Language" class ="form-control" asp-items="ViewBag.LanguageId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Religion" class="control-label"></label>
                <select asp-for="Religion" class ="form-control" asp-items="ViewBag.ReligionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="IncomeGroupId" class="control-label"></label>
                <input asp-for="IncomeGroupId" class="form-control" />
                <span asp-validation-for="IncomeGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HghestQualificationId" class="control-label"></label>
                <input asp-for="HghestQualificationId" class="form-control" />
                <span asp-validation-for="HghestQualificationId" class="text-danger"></span>
            </div>
           
          
            <div class="form-group">
                <label asp-for="NationalId" class="control-label"></label>
                <input asp-for="NationalId" class="form-control" />
                <span asp-validation-for="NationalId" class="text-danger"></span>
            </div>
          <br />
            <div class="form-group">
                <a asp-action="Index" class="btn btn-dark">Back to List</a>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


